
.body {
    font-family: var(--font-text);
    background-color: var(--tertiary-color);
}

h1, h2, h3, h4, h5, h6 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--font-title);
}

h1 {
    font-style: italic;
    font-weight: 400;
}
.container {
    max-width: 81rem;
    padding-inline: 1rem;
    margin: 0 auto;
}


.bg-white {
    background-color: var(--color-white);
}


