
.bg-dark-grey {
    background-color: var(--color-dark-grey);
}


.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 9px 0;
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

}

.top-bar a {
    color: var(--color-tertiary);
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
}

.top-bar-social-menu {
    display: flex;
    gap: 4px;
    align-items: center;

}

.top-bar-contact {
    display: flex;
    gap: 25px;
    align-items: center;

}


.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30 px 0;


}

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
}


.menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;

}

.menu-list a {
    color: var(--color-black);
    text-decoration: none;
    ;
}

