.hero-banner {
    
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(255 255 255/0.3), rgb(255 255 255/0.3)), url("/Image/hero-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;;
}

.hero-banner-content {
    max-width: 42rem;
    padding: 12.5rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero-banner-title {
    font-size: 6.25rem;
    font-family: var(--font-tittle);
    color: var(--color-dark-grey);
    font-weight: 400;
    margin-block-end: 2rem;
}

.hero-banner-description {
    font-family: var(--font-text);
    font-size:1.25rem;
    margin-block-start: 0;
    color: var(--color-dark-grey);
    line-height: 200%;
    margin-block-end: 2.5rem;
}

.hero-banner-button {
    display: flex;
    justify-content: center;
    gap: 1rem;

}